@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 8px;
}

/* header */
header {
    background-color: var(--primary-color);
    height: 56px;
}
header .nav-container {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
}
header .nav-container .logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
}
header .nav-container .logo img {
    width: 75px;
}

header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px;
}
header .search .search-container {
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}
header .search .search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}
header .search .search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

header .login {
    height: 100%;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0 20px;
}
header .login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--primary-color);
}
header .become-seller {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

header .more {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
header .more svg {
    margin-left: 8px;
    rotate: -90deg;
}

header .cart {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}
header .cart svg {
    margin-right: 8px;
}

/* section 1 */
.section-1 {
    width: 100%;
    height: 112px;
    background-color: white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.section-1-container {
    width: 1280px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-1-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
}
.section-1-item img {
    width: 64px;
    height: 64px;
    object-fit: contain;
}

.section-1-item img:hover {
    transform: scale(1.1);
}

/* section 2 */
.section-2-container {
    margin-top: 16px;
    height: 280px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* section 3 */
.section-3-container {
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* section 4 */
.section-4-container {
    height: 350px;
    margin-top: 8px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}

.section-4-left {
    position: absolute;
    top: 10px;
    left: 16px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.section-4-right {
    position:absolute;
    top: 10px;
    right: 350px;
    z-index: 1;
}

.section-4-right button {
    background-color: #2874f1;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Center content */
.section-4-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 60px;
}

/* List of items with scroll snap */
.section-4-list {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section-4-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    max-width: 100%;
    scroll-snap-align: start;
    height: 100%;
    text-align: center;
}

.section-4-item img {
    width: 160px;
    height: 160px;
    max-height: 200px;
    object-fit: contain;
}

.section-4-item img:hover {
    transform: scale(1.1);
}

.section-4-item-head {
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
}

.section-4-item-price {
    margin-top: 12px;
    font-size: 16px;
    color: #388e3c;
}

.section-4-item-explore {
    opacity: 0.6;
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
}

.best-selling {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: black
}

/* section 5 */
.section-5-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section-5-item {
    width: 30%;
    text-align: center;
    background-color: white;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section-5-item img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.section-5-item img:hover {
    transform: scale(1.1);
}

.section-5-item-head {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.section-5-item-price {
    font-size: 14px;
    margin: 5px 0;
}

.section-5-item-explore {
    color: #2874f1;
    font-size: 14px;
    cursor: pointer;
}

.section-5-item:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* section-6 */
.section-6 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.section-6 img {
    width: 33%;
    height: auto;
    object-fit: contain;
}

/* footer */
footer {
    margin-top: 26px;
    background-color: white;
    padding: 25px;
    text-align: center;
    font-size: 14px;
    color: #878787;
}
